* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
strong {
    font-size: 20px
}
.Rollen {
    display: flex;
    font-family: Verdana, sans-serif;
    margin: 80px;
}
.container {
    width: 1200px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 20px;
    margin-left: 250px;
}